.app-header {
  display: flex;
  height: 20%;
  padding-top: 100px;
  padding-bottom: 75px;
  text-align: center;
}

.left-half {
  flex: 1;
  padding-left: 30%;
}

.right-half {
  flex: 1;
  padding-right: 30%;
}

.app-header h1 {
  text-align: center;
  font-size: 4rem
}


.content {
  text-align: center;
  padding-bottom: 15px;
}

.debug h3 {
  text-align: center;
  color: white;
}

.debug p {
  text-align: center;
  color: white;
}

button {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 20px;
}

.button {
  background-color: var(--lc-s-color-primary-500);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid var(--lc-s-color-primary-500);
}

.button1:hover {
  background-color: var(--lc-s-color-primary-500);
  color: black;
}

$color-white: var(--lc-s-color-primary-500);
$color-mug: var(--lc-s-color-primary-500);
$color-coffee: #3e2723;

.coffee-mug {
  position: relative;
  margin: 0 auto;
  width: 8em;
  height: 6em;
  border-radius: .05em .05em 3em 3em;
  box-shadow: 0 0 0 .5em $color-mug;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 1em;
    width: 1.5em;
    height: 2em;
    box-shadow: 0 0 0 .5em $color-mug;
    margin-left: .5em;
    border-radius: 0 50% 50% 0;
  }

  .coffee-container {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color-white;
    border-radius: .05em .05em 3em 3em;
  }

  .coffee {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-coffee;
    animation: coffee-load 15s;

    &:before {
      content: '';
      display: block;
      width: 200%;
      height: 1em;
      position: absolute;
      left: -50%;
      top: -.5em;
      background: $color-white;
      animation: coffee-wave 1s ease-in-out infinite;
      border-radius: 50%;
    }
  }
}


@keyframes coffee-load {
	0% {
		transform: translateY(20%);
	}
	70% {
		transform: translateY(50%);
	}
	90% {
		transform: translateY(0);
	}
	95% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(80%);
	}
}

@keyframes coffee-wave {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}
